
.color1{ color: #C3CFC6 ;}
.color2{ color: #586D6E ;}
.color3{ color: #FF9000 ;}
.color4{ color: #00878D ;}
.color5{ color: #CED73E ;}

.color1RGB{ color: rgb(195, 207, 198) ;}
.color2RGB{ color: rgb(88, 109, 110) ;}
.color3RGB{ color: rgb(255, 144, 0) ;}
.color4RGB{ color: rgb(0, 135, 141) ;}
.color5RGB{ color: rgb(206, 215, 62);}

body{
	margin: 0;
	font-family: "Open Sans";
}

.top{
	height: 120px;
	padding: 10px;
	background-color:#364B4C;
	text-align: left bottom;
	box-shadow: 20px;
	border-bottom-style: inset;
	border-bottom-width: 3px;
	border-bottom-color: #FF9000;
}


.logo {
	margin-left: 30px;
	font-size: 10px;
	font-family: "Overlock";
}

.logo a:hover, a:active,a:link, a:visited {
	text-decoration: none;
	color:#00BB99;
}

.logo a img{
	width: 30px;
	height: auto;
}

.container {
	width: 1400px;
	margin: 0 50px;
}

#info {
	position:relative;
	margin: 10px 0px;
	width: 480px;
	left: 0;
	background-color:#C3CFC6;
	font-family: "Overlock";
}

#menu {
	float: right;
	color:rgba(0,0,0,0.2);
	background: rgb(91, 216, 241);
	width: 26%;
	margin: 0 5px 0 0;
	box-shadow: 2px 2px 2px 2px;
	font-size: 14px;
	font-family: "Cantata One";
}

#menu h1{
	color:#000;
	font-size:23;padding:10px;
	text-indent:80;
	font-family: "Merienda";
}

#menu ul{
	padding: 0;
	margin: 10px;
}

#menu li{
	color:rgba(0,0,0,1);
	display:inline;
}

button.controllers{/*START & STOP*/
	background: #FFF;
	color:#DD6000;
	border-style:none;
	padding: 6px;
	position:relative;
	left:2%;
	font-size:16px;
}

#BikeCyclist, #chainRingGroup, #cogGroup, #results{
	background-color:rgba(0,0,0,.1);
}

#cog6,#cog11{
	margin-left:74px;
}

#leftShifter,
#rightShifter{
	color: #FF9000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {/*Buttons*/
	opacity: 1;
	padding: 15px 4px;
	position: relative;
  	left: 5px;
	
}

input[type=number]{/*BOX*/
	background-color:rgba(0,0,0,0.5);
	color:rgba(255,255,255,0.8);
	border-style:none;
 	padding: 5px;
	width: 40px;
	height: 20px;
	font-size:14px;
}

#tiresCirc input[type=number]{
	width: 50px;
}

#footer{
	background: rgba(20,20,20,1);
	height: 100px;
	width: 100%;
	top: 90%;
}

#footer p{
	color:rgba(200,150,0,1);
	padding: 2% 0 0 20px;
	font-size:12;

}
